  
/* css reset */
html, body, div, span, applet, object, iframe, table, caption, tbody, tfoot, thead, tr, th, td, 
del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, 
h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, 
dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	outline: 0;
	padding: 0;
	margin: 0;
	
	}
/* remember to define focus styles! */
:focus {
	outline: 0;
	}

ol, ul {
	list-style: none;
	}
/* tables still need cellspacing="0" in the markup */
table {
	border-collapse: separate;
	border-spacing: 0;
	}
caption, th, td {
	font-weight: normal;
	text-align: left;
	}
/* remove possible quote marks (") from <q> & <blockquote> */
blockquote:before, blockquote:after, q:before, q:after {
	content: "";
	}
blockquote, q {
	quotes: "" "";
	}
*{
    box-sizing:border-box;
    padding:0;
    margin:0;
    max-width: 100%;
    /* border:1px solid grey; */
}
html{
    font-size:62.5%;
}
body{
    font-size:1.6rem;
    line-height: 1.5;
     color:#474747;
    /* background-color:#DDB9A3; */
    font-family:'Roboto Mono',monospace;
}
h1{
    font-family: 'Chelsea Market' cursive;
    font-size: 5rem;
}
section{
    padding: 4% 0;
}
nav {
padding:1% 0;
}
nav a{
    display: inline-block;
    padding: 1% 0;
    width:17%;
    text-align:center;
    color:white;
}
.Orange{
    background-color: #ff764e;
    margin-left: 15%;
    width:12%;
    /* height:70px; */
    height:auto;
    text-decoration: none;
    border-radius:30px;
    /* margin-top:10px !important; */

}
.Orange:hover{
    background-color:blue;
    color:yellow;
    transition-duration: 1s;
}
.blue{
    background-color: #5ED3EB ;
    margin: 0 15%;
    width:12%;
     height:auto; 
    text-decoration: none;
    border-radius:30px;
    box-shadow:teal;
}
.blue:hover{
    background-color:yellow;;
    color:blue;
    transition-duration: 1s;
}
.yellow{
    background-color: #FFCD69;
    margin-right:8%;
    width:12%;
     height:auto; 
    text-decoration: none;
    border-radius:30px;
}
.yellow:hover{
    background-color:red;
    color:orange;
    transition-duration: 1s;
}
.top{
    /* text-align:center; */
    position:relative;
}
.left img{
    border-radius:50%;
    width:60%;
}
.left, .right{
    display:inline-block;
}
.left{
    width:40%;
    text-align:center;
}
.right{
    width:45%;
    margin-left:3%;
    position: absolute;
    top:40%;
    text-align:center;
}
.right h1{
    margin-top:-90px;
    letter-spacing: 0.3rem;
    font-family: 'Chelsea Market', cursive;
}
.right h3{
    font-size:20px;
    font-weight: bold;
    letter-spacing: 0.1rem;
}
.right p{
     /* line-height:30px;  */
    letter-spacing: 0.1rem;
    text-align:center;
    padding-left:20px;

    font-weight: bold;
    padding-right:20px;
    font-size: 20px;
    margin-left: 20px;
    /* margin-right: 0px; */
}
.para{
width:auto;
height:auto;
/* background-color:yellow; */
padding:50px;
margin-top: -80px;;
}
.para p{
     padding:30px; 
    background-color:#DDB9A3;
    color:rgb(247, 241, 241);
    letter-spacing: 0.5rem;
    
}
.image-1{
    width: 250px;
    height:auto;
    margin-top:-90px;
    text-align:center;

    

}
.image-2{
    width: 300px;
    height:auto; 
    text-align:center;
    /* margin-bottom: 300px; */
}
.para1{
     /* width:80%;  */
    padding-left:35%;
    padding-right:36%;
    font-size:16px;
     font-weight: bolder;
     letter-spacing: .9.5px;; 
}
.para2{
     padding-left:35%;
    padding-right:35%; 
    font-size:16px;
     font-weight: bolder; 
     /* text-align:left; */
     /* line-height:unset; */
     letter-spacing: .4px;;

}
/* .div-img-2{
    width:320px;
    height:auto;
    border: 1px solid blue;

} */


